@font-face {
    font-family: 'Opulent regular';
    src: url('../fonts/OPN.TTF') format('ttf');
}

@font-face {
    font-family: 'Lato-MediumItalic';
    src: url('../fonts/Lato-MediumItalic.ttf') format('truetype');
}

body {
    background: linear-gradient(150deg, black 10%, white 50%, #80d844)/*, linear-gradient(to top left, #80d844, transparent)*/;
    background-repeat: no-repeat;
    /*font-family: 'Opulent regular';*/
}

.title {
    display: none;
}

.navbar {
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    background-color: black;
    position: relative;
    z-index: 10;
}

/*MENU HAMBURGUER*/

.button-menu-navbar {
    width: 42px;
    height: 32px;
    background: transparent;
    margin-left: 4%;
    border: none;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.button-menu-navbar span {
    display: block;
    width: 100%;
    height: 3px;
    background: #80d844;
    margin-top: 5px;
    margin-bottom: 4px;
    cursor: pointer;
    transform-origin: 0px 100%;
    transition: all 300ms;
}

.button-menu-navbar.close span {
    transform: rotate(45deg) translate(-4px, -1px);
}

.button-menu-navbar.close span:nth-child(2) {
    opacity: 0;
    margin-left: -30px;
}

.button-menu-navbar.close span:nth-child(3) {
    transform: rotate(-45deg) translate(-2px, 0px);
}

.menu-list {
    list-style-type: none;
}

.menu li a {
    text-decoration: none;
}

/*END*/

/*MENU LANGUAGE*/

.button-language {
    max-height: 70%;
    width: 50px;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 4%;
}

.icon-arrow {
    width: 17px;
    transform-origin: center;
    transition: all 400ms;
}

.icon-language {
    width: 32px;
}

.button-language.reverse .icon-arrow {
    transform: rotate(180deg);
}

.menu-language {    
    position: fixed;
    right: 0;
    top: -21px;
    width: 100px;
    height: 70px;
    background: #848484;
    font-family: 'Lato-mediumItalic';
    text-align: center;
    transition: all 400ms;
    z-index: 9;
}

.menu-language.show {    
    margin-top: 70px;    
}

.list-menu-language {
    position: relative;
    font-size: 1.1rem;
    top: 50%;
    transform: translate(0, -50%);
}

.list-menu-language li a {
    text-decoration: none;
    color: black;
}

/*END*/

/*SLIDER-CAROUSEL*/

.container-slider{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 0 5px #fff, 0 10px, 25px;
    position: relative;
}

.carousel-slider {
    margin-left: -100%;
    display: flex;
    width: 1000%;
}

.slider-section {
    width: 100%;
}

.slider-img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-button {
    margin: 0;
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 35px;
    font-weight: 950;
    color: black;
    background: rgba(255, 255, 255, .5);
    z-index: 5;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 50%;
    text-align: center;
}

.slider-button>p {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.slider-button-right {
    right: 0;
}

/*END*/

/*FORM NL*/

#messageNL {
    display: none;
    color: black;
}

.invalid {
    border: 1px solid red;
}

@media (max-width: 767.9px) {
    
    /*LISTADO MENU PRINCIPAL*/
    
    .navbar {
        position: fixed;
    }

    .menu-nav-bar {
        display: none;
    }

    .header {
        top: 50.1px;
        position: relative;
    }

    .menu-list{
        font-family: 'Lato-MediumItalic';
        list-style: none;
        width: 100vw;
        position: fixed;
        top: 50.1px;
        bottom: 0vh;
        left: -100vw;
        text-align: start;
        background: linear-gradient(to right, #848484 90%, transparent);
        z-index: 9;
        transition: all 300ms linear;
        display: flex;
        align-items: center;
    }
    
    .menu-list.show {
        left: 0;
    }
    
    .list {
        margin-left: 2rem;
    }

    .list__item {
        overflow: hidden;
    }

    .list__item, .list__inside {
        margin: .5rem .5rem .5rem 1rem;
    }

    .list__show {
        border-left: 2px solid #80d844;
        transition: height 300ms;
        height: 0;
    }

    .nav__link {
        color: black;
        text-decoration: none;
    }
    
    .list__arrow {
        width: 4vw;
        transition: transform 300ms;
    }

    .arrow .list__arrow {
        transform: rotate(-180deg);
    }

    /*END*/
    
    .logo {
        /*top: 51px;*/
        position: relative;
        left: 10px;
        height: 8vh;
        padding: 10px;
        margin: 0 auto;
        z-index: 3;
    }
    
    .slogan-logo {
        color: #80d844;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.3vh;
        position: relative;
        left: 30px;
        top: -8px;
        width: 80vw;
    }

    .video-container {
        margin: 3%;
        max-width: 94vw;
        z-index: -2;
    }

    video {
        width: 100%;
    }

    .body {
        position: relative;
        padding-top: 8vh;
    }

    .body section {
        text-align: justify;
        margin: 0 3vw 3vh 3vw;
        color: aliceblue;
    }
    /*CAROUSEL-SLIDER*/

    .container-slider {
        position: relative;
        margin: 3%;
        max-width: 94%;
        width: 94%;
        height: 60vh;
        text-align: center;
    }

    .carousel-slider {
        display: flex;
        width: 1300%;
        height: 100%;
    }
    
    .slider-section {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .slider-section img {
        display: block;
        width: 100%;
        height: 100%;
        /*object-fit: cover;*/
    }

    .slider-content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, .6);
        color: #fff;
        text-align: center;
        padding: 10px;
    }

    .slider-content p{
        margin: 0 5px 0 5px;
        padding: 10px 0;
    }

    .slider-content button {
        background: #ff0037;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
    }
    
    .slider-content button>a {
        text-decoration: none;
        color: antiquewhite;
    }

    /*END*/

    .ending-bar {
        position: relative;
        bottom: 0;
        margin: 5% 3% 5% 3%;
        width: 94%;
        height: 5px;
        background: #848484;
        border-radius: 5px;
    }

    .footer {
        text-align: center;
    }

    .icons-footer {
        width: 14vw;
    }

    .contac {
       margin: 3% 0 5% 0; 
    }

    .contac p {
        font-size: 1.5rem;
    }

    .location {
        margin: 3%;
    }

    .location img {
        width: 10vw;
    }

    .vis {
        font-size: 1.5rem;
        margin-bottom: 3%;
    }

    .dir {
        margin-bottom: 3%;
    }

    .location iframe {
        width: 100%;
    }

    .web-socials {
        margin: 5% 0 5% 0;
    }

    .web-socials a:nth-child(5) {
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
    }

    .legal {
        margin: 0 3% 0 3%;
        text-align: center;
    }

    .politics768 {
        margin: 3% 0 3% 0;
    }

    .politics769 {
        display: none;
    }

    .dretsreser {
        font-size: .8rem;
        margin: 3%;
    }

}

@media (min-width: 768px) and (max-width: 1023.9px) {
    /*LISTADO MENU PRINCIPAL*/

    .navbar {
        width: 100%;
        position: fixed;
    }

    .button-language {
        z-index: 11;
    }

    .menu-nav-bar {
        position: relative;
        top: 30%;
    }

    .nav-list {
        width: 80%;
    }

    .list-navbar {
        display: flex;
        align-items: center;
        margin-left: 1em;
        justify-content: space-between;
    }

    .button-menu-navbar, .menu-list {
        display: none;
    }
    .navbar__link:hover {
        text-shadow: 2px 2px 2px white;
    }

    .navbar__link {
        display: block;
        text-decoration: none;
        color: #80d844;
        font-size: 1em;
    }

    .navbar__show {
        position: absolute;
        background: black;
        display: none;
    }

    .navbar__showsm {
        position: absolute;
        background: black;
        display: none;
    }

    .qf {
        top: 0;
        left: 110%
    }

    .as {
        top: 80%;
        left: 110%;
    }

    .nav__list > ul {
        display: table;
    }

    .nav__list > ul > li {
        float: left;
    }

    .navbar__item:hover > ul {
        display: block;
    }

    .navbar__inside:hover > ul {
        display: block;
    }

    .separater {
        color: #80d844;
        font-size: 1em;
    }

    .header {
        position: relative;
        top: 50.1px;
    }

    .logo {
        width: 70%;
        margin: 2rem;
    }

    .slogan-logo {
        color: #80d844;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.7vh;
        position: relative;
        left: 50px;
        top: -28px;
        width: 80vw;
    }

    .video-container {
        max-width: 94vw;
        width: 94vw;
        margin: 3%;
    }

    .video {
        width: 100%;
    }

    .body section {
        text-align: justify;
        margin: 8vh 3vw 3vh 3vw;
        color: aliceblue;
        font-size: 1.5em;
        text-align: center;
    }

    .container-slider {
        position: relative;
        margin: 3%;
        max-width: 94%;
        width: 94%;
        height: 60vh;
        text-align: center;
    }

    .carousel-slider {
        display: flex;
        width: 1300%;
        height: 100%;
    }
    
    .slider-section {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .slider-section img {
        display: block;
        width: 100%;
        height: 100%;
        /*object-fit: cover;*/
    }

    .slider-content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, .6);
        color: #fff;
        text-align: center;
        padding: 10px;
    }

    .slider-content p{
        margin: 0 5px 0 5px;
        padding: 10px 0;
    }

    .slider-content button {
        background: #ff0037;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
    }
    
    .slider-content button>a {
        text-decoration: none;
        color: antiquewhite;
    }

    /*END*/

    .ending-bar {
        position: relative;
        bottom: 0;
        margin: 5% 3% 5% 3%;
        width: 94%;
        height: 13px;
        background: #848484;
        border-radius: 5px;
    }

    /*FOOTER*/

    .footer {
        text-align: center;
    }

    .footer p {
        font-size: 2rem;
    }

    .icons-footer {
        width: 10vw;
    }

    .location {
        margin: 4%;
    }

    .location img {
        width: 9vw;
        margin: 1%;
    }

    .location p {
        margin: 1%;
    }

    iframe {
        width: 600px !important;
        height: 400px !important;
        margin: 1%;
    }

    .web-socials .icons-footer{
        margin: 0 1% 0 1%;
    }

    .formNL h3 {
        font-size: 2em;
        margin: 2%;
    }

    label {
        font-size: 1rem;
    }

    input .name, input .email {
        width: 50%;
    }

    .politics768 {
        margin: 3% 0 3% 0;
    }

    .politics768 a {
        font-size: 1.3rem;
    }

    .politics769 {
        display: none;
    }

    .dretsreser {
        font-size: .7rem;
        margin: 3%;
    }
}

@media (min-width: 1024px) {
    /*LISTADO MENU PRINCIPAL*/

    .navbar {
        width: 100%;
        position: fixed;
    }

    .button-language {
        z-index: 11;
    }

    .menu-nav-bar {
        position: relative;
        top: 30%;
    }

    .nav-list {
        width: 80%;
    }

    .list-navbar {
        display: flex;
        align-items: center;
        margin-left: 1em;
        justify-content: space-between;
    }

    .button-menu-navbar, .menu-list {
        display: none;
    }
    .navbar__link:hover {
        text-shadow: 2px 2px 2px white;
    }

    .navbar__link {
        display: block;
        text-decoration: none;
        color: #80d844;
        font-size: 1em;
    }

    .navbar__show {
        position: absolute;
        background: black;
        display: none;
    }

    .navbar__showsm {
        position: absolute;
        background: black;
        display: none;
    }

    .qf {
        top: 0;
        left: 110%
    }

    .as {
        top: 80%;
        left: 110%;
    }

    .nav__list > ul {
        display: table;
    }

    .nav__list > ul > li {
        float: left;
    }

    .navbar__item:hover > ul {
        display: block;
    }

    .navbar__inside:hover > ul {
        display: block;
    }

    .separater {
        color: #80d844;
        font-size: 1em;
    }

    .navbar__show {
        display: none;
    }

    .header {
        width: 80%;
        position: relative;
        top: 50.1px;
        margin: 0 auto;
    }

    .logo {
        width: 60%;
        margin: 3rem;
    }

    .slogan-logo {
        color: #80d844;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 2.5vh;
        position: relative;
        left: 70px;
        top: -35px;
        width: 80vw;
    }

    .video-container {
        max-width: 94%;
        width: 94%;
        margin: 3%;
    }

    .video {
        width: 100%;
    }

    .body {
        width: 80%;
        margin: 0 auto;
    }

    .body section {
        text-align: justify;
        margin: 10vh 3vw 3vh 3vw;
        color: aliceblue;
        font-size: 1.5em;
        text-align: center;
    }

    .container-slider {
        position: relative;
        margin: 3%;
        max-width: 94%;
        width: 94%;
        height: 60vh;
        text-align: center;
    }

    .carousel-slider {
        display: flex;
        width: 1300%;
        height: 100%;
    }
    
    .slider-section {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .slider-section img {
        display: block;
        width: 100%;
        height: 100%;
        /*object-fit: cover;*/
    }

    .slider-content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, .6);
        color: #fff;
        text-align: center;
        padding: 10px;
    }

    .slider-content p{
        margin: 0 5px 0 5px;
        padding: 10px 0;
    }

    .slider-content button {
        background: #ff0037;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
    }
    
    .slider-content button>a {
        text-decoration: none;
        color: antiquewhite;
    }

    /*END*/

    .ending-bar {
        position: relative;
        bottom: 0;
        margin: 5% 3% 5% 3%;
        width: 94%;
        height: 13px;
        background: #848484;
        border-radius: 5px;
    }

    /*FOOTER*/

    .footer {
        text-align: center;
    }

    .footer p {
        font-size: 2rem;
    }

    .contac .icons-footer{
        width: 8vw;
    }

    .contac p {
        margin: 3%;
        font-size: 3rem;
    }

    .location .icons-footer {
        width: 6vw;
    }

    .location p {
        margin: 1%;
        font-size: 3rem;
    }

    iframe {
        width: 60% !important;
        height: 400px !important;
        margin: 1%;
    }

    .web-socials .icons-footer {
        width: 8vw;
        margin: 3% 1% 0 1%;
    }

    .formNL {
        font-size: 3em;
        margin: 2%;
    }

    label {
        font-size: 1rem;
    }

    input .name, input .email {
        width: 50%;
    }

    .politics768 {
        margin: 3% 0 3% 0;
    }

    .politics768 a {
        font-size: 1.3rem;
    }

    .politics769 {
        display: none;
    }

    .dretsreser {
        font-size: .7rem;
        margin: 3%;
    }
}